.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0 30rem 0;
    margin-top: -20vh;
}

.section-features {
    position: relative;
    padding: 30rem 0;

    margin-top: -20rem;
    clip-path: polygon(0 20%, 100% 0, 100% 80%, 0 100%);
    
    background-image: linear-gradient(
        to right bottom, 
        rgba($color-primary-light, 0.8), 
        rgba($color-primary-dark, 0.8)
        ), 
        url("../img/nat-4.jpg");
    height: 100%;
    background-size: cover;
    background-position: top;
    background-attachment: fixed;


}

.section-tours {
    background-color: $color-grey-light-1;
    padding: 24rem 0;
    margin-top: -20rem;

}

.section-stories {
    position: relative;
    padding: 15rem 0;
    
}