/**
 COLORS */

/* MAIN COLOUR PALLET */
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7; 
$color-grey-light-2: #eee; 

/* FONT COLORS */
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

/* FONT-SIZES */
$default-font-size: 1.6rem;
$h1-main-font-size: 8rem;
$h1-sub-font-size: 2rem;
$h2-font-size: 4rem;
$h3-font-size: 1.6rem;

/* FEATURES */
$features-box__h3: 1.5rem;
$features-box__icon: 6rem;


/* CARD */
$card-heading-font-size: 2.8rem;
$card-heading-weight: 300;
$card-price-value-font-size: 7.5rem;


/* FIGCAPTION */
$figcaption-font-size: 1.7rem;

/* FOOTER */
$footer-font-size: 1.4rem;


/* GRID VARIABLES */
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;

/* BORDERS */
$default-border-radius: 3px;