.footer {
    background-color: $color-grey-dark-3;
    padding: 10rem 0;
    font-size: $footer-font-size;
    

    %common-display {
        display: inline-block;
        border-top: 1px solid $color-grey-dark;
        padding-top: 3rem;
    }

    %common-color {
        color: $color-grey-light-1;
    }


    &__logo-box {   
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        height: auto;
        width: 15rem;
    }

    &__navigation {
        @extend %common-display;
    }

    &__list {
        list-style: none;

    }

    &__item {
        display: inline-block;
        
        &:not(:last-child) {
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all 300ms;
        }

        &:hover,
        &:active {
            color: $color-primary;
            // text-shadow: 0 4rem 8rem rgba($color-black, .4);
        }
    }

    &__copyright {
        @extend %common-color;
        @extend %common-display;
        width: 80%;
        float: right;
    }
}