/* RESET TO DEFAULT VALUES */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit
}


/* GLOBAL SETTINGS */
html {
    // 62.5% = 10px = 1rem
    font-size: 62.5%;
}

body {

    box-sizing: border-box;
}