/**
GLOBAL TYPOGRAPHY SETTINGS
*/
body {
    font-family: 'Lato', Arial, sans-serif;
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 1.7;
    color: $color-grey-dark;
    
}

/**
 HEADER TEXT */
 .heading-primary {
    color: $color-white;
    text-transform: uppercase;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    margin-bottom: 6rem;


    &--main {
        font-size: $h1-main-font-size;
        font-weight: 400;
        letter-spacing: 3.5rem;
        margin-right: -3.5rem;
        display: block;
    
        animation-name: moveInLeft;
        animation-duration: 850ms;
        animation-timing-function: ease-out;
        
        @include respond(tab-port) {
            letter-spacing: 2rem;
            font-size: $h1-main-font-size-tab-port;
        }

        @include respond(phone) {
            letter-spacing: 1.5rem;
            font-size: $h1-main-font-size-phone;
        }
    }
    
    &--sub {
        font-size: $h1-sub-font-size;
        font-weight: 300;
        letter-spacing: 1.74rem;
        margin-right: -1.74rem;
        /* margin-top: -1rem; */
        display: block;
    
        animation:moveInRight 850ms ease-out;
        -webkit-animation:moveInRight 850ms ease-out;

    
        @include respond(tab-port) {
            letter-spacing: 1.3rem;
            font-size: $h1-sub-font-size-tab-port;
        }

        @include respond(phone) {
            letter-spacing: 1rem;
            font-size: $h1-sub-font-size-phone;
        }
    }
}

/**
SECTION-ABOUT*/


/* EVERYTHING H2 */
.heading-secondary {
    font-size: $h2-font-size;
    text-transform: uppercase;
    font-weight: 700;
    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    background-image: -moz-linear-gradient(to right, $color-primary-light, $color-primary-dark);
    display: inline-block;
    background-clip: text;
    -webkit-background-clip: text;
    backface-visibility: hidden;
    color: transparent;
    letter-spacing: 2px;
    transition: all 200ms ease;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;

    @include respond(tab-land) {
        font-size: $h2-font-size-tab-land;
    }

    @include respond(tab-port) {
        font-size: $h2-font-size-tab-port;
    }

    @include respond(phone) {
        font-size: $h2-font-size-phone;
    }
    
    &:hover{
        text-shadow: .5rem .25rem 1rem rgba($color-black, .15);
        transform: scale(1.03);

    }
}

/* EVERYTHING H3 */
.heading-tertiary {
    font-size: $h3-font-size;
    font-weight: 700;
    text-transform: uppercase;
}



/* EVERYTHING P */
.paragraph {
    font-size: $default-font-size;
    // if we really want to make sure that the last p has no margin-bottom we can use the last-of-type instead of last-child - as that will simply choose the last child within that parent node tree
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}