.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
    border-radius: 3px;
    overflow: hidden;

}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    // FLEXBOX
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.content {
    // FLEXBOX 
   display: flex;
   flex-flow: row nowrap;
   
   
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    // Do not let the flex item to grow, shrink but give a width (flex-basis) of 18%
    flex: 0 0 18%;
    
    // FLEXBOX
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}   

.hotel-view {
    // Let the flex item grow
    flex: 1;
    
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    font-size: 1.4rem;
}

.description {
    flex: 0 0 60%;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-right: 4.5rem;

    
}

.user-reviews {
    flex: 1;

    display: flex;
    flex-flow: column;
    align-items: center;
    
}