.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
    border-radius: 3px;
    overflow: hidden;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        width: 100%;
    }

}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: var(--line);

    // FLEXBOX
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-smallest) {
        flex-wrap: wrap;
        align-content: space-evenly;
        height: 12rem;
    }

}

.footer {
    display: none;

    @media only screen and (max-width: $bp-small) {
        display: unset;
        font-size: 1.2rem;
        text-align: center;
        padding: 2.5rem;
        color: var(--color-grey-light-4);
        background-color: var(--color-grey-dark-1);
    }
    

}

.content {
    // FLEXBOX 
   display: flex;
   flex-flow: row nowrap;
   
   @media only screen and (max-width: $bp-medium) {
       flex-flow: column;
   }
   
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    // Do not let the flex item to grow, shrink but give a width (flex-basis) of 18%
    flex: 0 0 18%;
    
    // FLEXBOX
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}   

.hotel-view {
    // Let the flex item grow
    flex: 1;
    
}

.detail {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--line);
    font-size: 1.4rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        flex-flow: column;
    }
}

.description {
    flex: 0 0 60%;
    background-color: #fff;
    box-shadow: var(--shadow-light);
    padding: 3rem;
    margin-right: 4.5rem;

    @media only screen and (max-width: $bp-medium) {
        padding: 2rem;
        margin-right: 2rem;
    }

    @media only screen and (max-width: $bp-small) {
        margin-right: 0;
        margin-bottom: 2rem;
    }

    
}

.user-reviews {
    flex: 1;

    display: flex;
    flex-flow: column;
    align-items: center;

    @media only screen and (max-width: $bp-small) {
        flex: 1;
    }
    
}