.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;

}

.header {
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    // FLEXBOX
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;

}

.content {
    // FLEXBOX 
   display: flex;
   flex-flow: row nowrap;
   
   
}

.sidebar {
    background-color: var(--color-grey-dark-1);
    // Do not let the flex item to grow, shrink but give a width (flex-basis) of 18%
    flex: 0 0 18%;
    
    // FLEXBOX
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
}   

.hotel-view {
    // TODO: TESTING REMOVE LATER
    height: 80rem;

    // Let the flex item grow
    flex: 1;
    
}